{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Language" content="fr" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="AUTHOR" content="ALTABER Solène" />
<meta property="og:type" content="website" />


<link rel="stylesheet" type="text/css" href="{% static 'css/cgp4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylephotostack2.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style7.css'%}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="../mstile-144x144.png">
<!-- TemplateBeginEditable name="doctitle" -->
<title>ENSEA Site</title>
<!-- TemplateEndEditable -->
<style type="text/css">
</style>
	

<!-- TemplateBeginEditable name="head" --><!-- TemplateEndEditable -->
<!-- Bootstrap -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap-4.4.1.js'%}"></script>  
	<script type="text/javascript" src="{%static 'js/scripts.js'%}"></script> 
  <script type="text/javascript" src="{%static 'js/tooltip.js'%}"></script> 
	<style type="text/css">
<!--


-->
</style>

 
</head>

<body>
	<div id="grandblocpage" class="row">   
	<div id="margegaucheblanche" class="col-xl-1"></div>
	<div class="col-12 col-xl-10">
<nav class="navbar navbar-expand-lg navbar-dark bg-red">
      <div class="col-12 col-ms-12 col-xs-12 medium row">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="../index.html">News<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vie etudiante</a>
            <div class="dropdown-menu" aria-labelledby="Dropdown1">
              <a class="dropdown-item" href="../comediennes.html">les Evenements </a>
              <a class="dropdown-item" href="../comediens.html">Associations</a>
              <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="../bde.html">BDE</a>
				<a class="dropdown-item" href="../bds.html">BDS</a>
				<a class="dropdown-item" href="../bdetch.html">BDTech</a>
				<a class="dropdown-item" href="../bdls.html">BDLS</a>
				<a class="dropdown-item" href="../caveEsound.html">Cave/Esound</a>
				<div class="dropdown-divider"></div>
             
            </div>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Emplois du temps</a>
            <div class="dropdown-menu" aria-labelledby="Dropdown2">
              <a class="dropdown-item" href="../1.html">1ere années</a>
              <a class="dropdown-item" href="../2.html">2eme années</a>
		<a class="dropdown-item" href="../3.html">3eme années</a>
            </div>
          </li>
			
			  
			  <li class="nav-item">
            <a class="nav-link" href="../webteam.html">Webteams</a>
            
          </li>
			  
			<li class="nav-item">
            <a class="nav-link" href="../contact.html">Contact</a>
          </li>
          </ul> 
        </div>
      </div>
    </nav>	

<div id="tooltip" style="position:absolute;visibility:hidden;"></div>

<div class="container-fluid">
  <div class="row">
     <div class="col-12">
          <p align="center" class="texte_editograsred">Ecole Nationale Superieure de L'Electronique et ses Applications</p>
     </div>
  </div>
  <div class="row">
	  <div class="col-3 " align="center">
			<p class="texte1red" align="center" style="align-content: center">Lien vers<br/><a target="_blank" href="https://www.ensea.fr" style="font-family:Verdana; color:#A91515; text-decoration:none; bold;" alt=""><img src="{% static 'Image/logoensea.png'%}" alt="" width="50%" /></a></p>
	  </div>
	  <div class="col-6" align="center">
			<a href="../index.html"><img class="w-100" src="{% static 'Image/ENSEAbat.png' %}" alt="Accueil" width="100%"  style="min-width: 100px; max-width: 1200px; "></a>
	  </div>	  
	  <div class="col-3 " align="center">
	  <p class="textetemplate" ><b>contact@ensea.fr </b></p>
		  <p></p>
	  <p class="textetemplate"  ><b>Tel: 06.XX.XX.XX.XX.XX</b></p>
	  </div>
  </div>
    <div> 
	  
	  <div><!-- TemplateBeginEditable name="Main" -->
	 
  <!-- TemplateEndEditable --></div>
	  <hr/>
      <div class="col-12 texte xpetit" align="center">6 avenue du Ponceau , 95000 CERGY<br />
        n&deg; <3 <3 jtm chloé et elea<br />
	  </div>
	 <div class="row" align="center"> 
	  <div class="col-4" align="center"><a href="../mentionslegales.php" class="texte_bas" >Mentions l&eacute;gales</a></div>
	  <div class="col-8" align="center"><a class="texte_bas" href="mailto:contact@castinggp.fr" target="_blank">&copy; MADE By Solène ALTABER</a></div>
	 </div>
   </div>
  
  </div> 
</div> <!-- fermeture bloc central -->
<div id="margedroiteblanche" class="col-xl-1"></div>
</div>
</body>
</html>
